
.category {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 25px;
}

.category :nth-child(2) {
  }

.category-title {
    font-size: 30px;
}

.category-checkbox {
    justify-self: flex-end;
    align-self: center; 
}