
.category {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 8px;
}

.category-title {
    font-size: 1.2em;
    font-weight: 500;
}

.isOver {
    background-color: rgb(248, 235, 211);
}
