
.item {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 25px;
    width: 40%;
}

.item-title {
    font-size: 1.5em;
    align-self: center;
}

